<a href="https://colab.research.google.com/github/Felipeppontes/projeto01_pythonDIO/blob/main/projeto01_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Biblioteca de Análise de Dados: pandas
import pandas as pd

In [ ]:
# Fazendo a likagem do banco de dados com o programma e a biblioteca pandas
df = pd.read_csv("/content/drive/MyDrive/Programação/advertising.csv", error_bad_lines=False, sep=",")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
#Organizar a tabela com essa formatação
display(df)

        TV  Radio  Jornal  Vendas
0    230.1   37.8    69.2    22.1
1     44.5   39.3    45.1    10.4
2     17.2   45.9    69.3    12.0
3    151.5   41.3    58.5    16.5
4    180.8   10.8    58.4    17.9
..     ...    ...     ...     ...
195   38.2    3.7    13.8     7.6
196   94.2    4.9     8.1    14.0
197  177.0    9.3     6.4    14.8
198  283.6   42.0    66.2    25.5
199  232.1    8.6     8.7    18.4

[200 rows x 4 columns]

In [ ]:
#Renomear as colunas com o dicionário
df.rename(columns={"TV":"televisão","Vendas":"lucro"})

     televisão  Radio  Jornal  lucro
0        230.1   37.8    69.2   22.1
1         44.5   39.3    45.1   10.4
2         17.2   45.9    69.3   12.0
3        151.5   41.3    58.5   16.5
4        180.8   10.8    58.4   17.9
..         ...    ...     ...    ...
195       38.2    3.7    13.8    7.6
196       94.2    4.9     8.1   14.0
197      177.0    9.3     6.4   14.8
198      283.6   42.0    66.2   25.5
199      232.1    8.6     8.7   18.4

[200 rows x 4 columns]

In [ ]:
#Resumir a tabela só nas 10 primeiras linhas 
#Resumir a tabela só nas ultimas linhas: df.tail()
df.head(10)

      TV  Radio  Jornal  Vendas
0  230.1   37.8    69.2    22.1
1   44.5   39.3    45.1    10.4
2   17.2   45.9    69.3    12.0
3  151.5   41.3    58.5    16.5
4  180.8   10.8    58.4    17.9
5    8.7   48.9    75.0     7.2
6   57.5   32.8    23.5    11.8
7  120.2   19.6    11.6    13.2
8    8.6    2.1     1.0     4.8
9  199.8    2.6    21.2    15.6

In [ ]:
#mostrar a quantidade de linhas e colunas da planilha
df.shape

(200, 4)

In [ ]:
#informações estatisticas da planilha
df.describe()

               TV       Radio      Jornal      Vendas
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [ ]:
#fazer um filtro: retornar apenas valores únicos em determinada coluna
df['TV'].unique()

array([230.1,  44.5,  17.2, 151.5, 180.8,   8.7,  57.5, 120.2,   8.6,
       199.8,  66.1, 214.7,  23.8,  97.5, 204.1, 195.4,  67.8, 281.4,
        69.2, 147.3, 218.4, 237.4,  13.2, 228.3,  62.3, 262.9, 142.9,
       240.1, 248.8,  70.6, 292.9, 112.9,  97.2, 265.6,  95.7, 290.7,
       266.9,  74.7,  43.1, 228. , 202.5, 177. , 293.6, 206.9,  25.1,
       175.1,  89.7, 239.9, 227.2,  66.9, 100.4, 216.4, 182.6, 262.7,
       198.9,   7.3, 136.2, 210.8, 210.7,  53.5, 261.3, 239.3, 102.7,
       131.1,  69. ,  31.5, 139.3, 216.8, 199.1, 109.8,  26.8, 129.4,
       213.4,  16.9,  27.5, 120.5,   5.4, 116. ,  76.4, 239.8,  75.3,
        68.4, 213.5, 193.2,  76.3, 110.7,  88.3, 134.3,  28.6, 217.7,
       250.9, 107.4, 163.3, 197.6, 184.9, 289.7, 135.2, 222.4, 296.4,
       280.2, 187.9, 238.2, 137.9,  25. ,  90.4,  13.1, 255.4, 225.8,
       241.7, 175.7, 209.6,  78.2,  75.1, 139.2, 125.7,  19.4, 141.3,
        18.8, 224. , 123.1, 229.5,  87.2,   7.8,  80.2, 220.3,  59.6,
         0.7, 265.2,   8.4, 219.8,  36.9,  48.3,  25.6, 273.7,  43. ,
        73.4, 193.7, 220.5, 104.6,  96.2, 140.3, 243.2,  38. ,  44.7,
       280.7, 121. , 171.3, 187.8,   4.1,  93.9, 149.8,  11.7, 131.7,
       172.5,  85.7, 188.4, 163.5, 117.2, 234.5,  17.9, 206.8, 215.4,
       284.3,  50. , 164.5,  19.6, 168.4, 276.9, 248.4, 170.2, 276.7,
       165.6, 156.6, 218.5,  56.2, 287.6, 253.8, 205. , 139.5, 191.1,
       286. ,  18.7,  39.5,  75.5, 166.8, 149.7,  38.2,  94.2, 283.6,
       232.1])

In [ ]:
#Para cada elemento (tópico da coluna) qual a média entre os valores 
df.groupby("TV").mean()#mean --> média

       Radio  Jornal  Vendas
TV
0.7     39.6     8.7     1.6
4.1     11.6     5.7     3.2
5.4     29.9     9.4     5.3
7.3     28.1    41.4     5.5
7.8     38.9    50.6     6.6
...      ...     ...     ...
289.7   42.3    51.2    25.4
290.7    4.1     8.5    17.8
292.9   28.3    43.2    21.4
293.6   27.7     1.8    20.7
296.4   36.3   100.9    23.8

[190 rows x 3 columns]

In [ ]:
#média pura
df["Vendas"].mean()

15.130500000000001

In [ ]:
#soma de todos nummeros de vendas
df["Vendas"].sum()

3026.1000000000004